classpath
.project
.settings
target
.idea
*.iml
.springBeans
site
build/_output
docs/content/onos-*
docs/site
docs/content/v*
docs/content/tla*
docs/content/ran*
docs/content/theme
docs/content/helmit
docs/content/experimental

# Jenkins report files
*report*.xml
*coverage*.xml
*-output.out

